.type {
    display: block;
    border-radius: 2px;
    text-align: center;
    padding: 0.5rem;
}
.A {
    background-color: orange;
}
.B {
    background-color: lightblue;
}
.C {
    background-color: lightcoral;
}
.D {
    background-color: lightsalmon;
}
